<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="Your_WebApp_ID" version="2.5">

	<display-name>Archetype Created Web Application</display-name>

	<context-param>
		<param-name>debug</param-name>
		<param-value>false</param-value>
	</context-param>

	<session-config>
		<session-timeout>10</session-timeout>
	</session-config>

	<!-- <env-entry>
		<description>admin email</description>
		<env-entry-name>adminEmail</env-entry-name>
		<env-entry-value>dantonov@dataart.com</env-entry-value>
	</env-entry>

	<resource-ref>
		<res-ref-name>HRDS</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<mapped-name>jdbc/__default</mapped-name>
	</resource-ref> -->

	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<el-ignored>false</el-ignored>
		</jsp-property-group>
	</jsp-config>

	<welcome-file-list>
		<welcome-file>Index.jsp</welcome-file>
	</welcome-file-list>

	<filter>
		<filter-name>SessionCheckFilter</filter-name>
		<filter-class>servlets.SessionCheckFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>SessionCheckFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- DB -->
	<servlet>
		<servlet-name>DBTest</servlet-name>
		<servlet-class>servlets.DBTest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DBTest</servlet-name>
		<url-pattern>/DBTest</url-pattern>
	</servlet-mapping>

	<!-- Common -->
	<servlet>
		<servlet-name>site-home</servlet-name>
		<jsp-file>/WEB-INF/jsp/Common/Index.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>site-home</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>

	<!-- Not Authed -->
	<servlet>
		<servlet-name>signup</servlet-name>
		<jsp-file>/WEB-INF/jsp/Common/Index.jsp</jsp-file>
		<init-param>
			<param-name>p</param-name>
			<param-value>SignUp</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>signup</servlet-name>
		<url-pattern>/signup</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>signin</servlet-name>
		<jsp-file>/WEB-INF/jsp/Common/Index.jsp</jsp-file>
		<init-param>
			<param-name>p</param-name>
			<param-value>SignIn</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>signin</servlet-name>
		<url-pattern>/signin</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>signout</servlet-name>
		<jsp-file>/WEB-INF/jsp/Common/Index.jsp</jsp-file>
		<init-param>
			<param-name>p</param-name>
			<param-value>SignOut</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>signout</servlet-name>
		<url-pattern>/signout</url-pattern>
	</servlet-mapping>

	<!-- Authed -->
	<servlet>
		<servlet-name>FeedServlet</servlet-name>
		<servlet-class>servlets.Home</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FeedServlet</servlet-name>
		<url-pattern>/FeedServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>FeedServletInMaster</servlet-name>
		<jsp-file>/WEB-INF/jsp/Common/Index.jsp</jsp-file>
		<init-param>
			<param-name>p</param-name>
			<param-value>Feed</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>FeedServletInMaster</servlet-name>
		<url-pattern>/Feed</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ManageFeeds</servlet-name>
		<jsp-file>/WEB-INF/jsp/Common/Index.jsp</jsp-file>
		<init-param>
			<param-name>p</param-name>
			<param-value>ManageFeeds</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>ManageFeeds</servlet-name>
		<url-pattern>/ManageFeeds</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AddFeed</servlet-name>
		<jsp-file>/WEB-INF/jsp/Common/Index.jsp</jsp-file>
		<init-param>
			<param-name>p</param-name>
			<param-value>AddFeed</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddFeed</servlet-name>
		<url-pattern>/ManageFeeds/AddFeed</url-pattern>
	</servlet-mapping>

</web-app>
